* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    display: flex;
    flex-direction: column;
    border: 5px solid #66BFBF;
}

.huge {
    margin: 50px auto 0 auto;
    font-family: 'sacramento', cursive;
    font-size: 3.625rem;
    color: #66BFBF;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
    font-size: 0.7rem;
    font-weight: 500;
}

hr {
    border: dotted #a0a1a1 6px;
    border-bottom: none;
    width: 4px;
    margin: 50px auto;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #838686
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding: 100px 10px 0 10px;
    width: 100%;
}

.middle-container {
    margin: 50px 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#montalo {
    width: 200px;
    border-radius: 50%;
}

.intro {
    width: 50%;
    margin: auto;
}

.social-link a {
    margin: 10px 7px;
}

.fa {
    position: relative;
}

.fa-linkedin {
    color: rgba(92, 124, 219, 0.935);
}

.fa-twitter {
    color: deepskyblue;
}

.fa-instagram {
    color: indianred;
}

.skills-photo {
    width: 25%;
    float: left;
}

.hobby-photo {
    width: 25%;
    float: right;
    margin-left: 5px;
}

.top-cloud {
    position: absolute;
    right: 50px;
    top: 60px;
    display: inline-block;
    width: 100px;
}

.bottom-cloud {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 330px;
    width: 100px;
}

.mount {
    border-radius: 5px;
    width: 50%;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}

.btn {
    background-color: #11cdd4;
    border: 2px solid#0000;
    color: black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 4px 2px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #40514E;
    color: white;
}

.rectangle {
    width: 320px;
    height: 160px;
    border: 5px solid #11cdd4;
    border-radius: 10px;
    position: relative;
    left: 0.5%;
    display: inline-block;
}

.contact-me {
    padding: 50px 0 50px 0;
    position: relative;
    left: 1px;
    bottom: 20px;
    /* transform: translate(-50%, 150%) */
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.contact-me h3 {
    font-size: 1rem;
    font-weight: 700;
}

.resume {
    /* flex: 1; */
    margin-top: 20px;
}

.bottom-container {
    background-color: #EAF6F6;
    padding: 50px 0 20px 0;
    width: 100%;
}

#desc {
    color: black;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    position: relative;
    display: none;
}

.footer-link a:hover {
    color: #838686
}

@media only screen and (min-width: 768px) {
    .huge {
        font-size: 5.625rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1rem;
    }
    .top-cloud {
        width: 200px;
    }
    .bottom-cloud {
        width: 200px;
    }
    .rectangle {
        width: 600px;
        height: 250px;
        left: 0.4%;
    }
    .contact-me {
        left: 1px;
        top: 5%;
    }
    .contact-me h3 {
        font-size: 1.3rem;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .bottom-container {
        background-color: #66BFBF;
    }
    .footer-link {
        position: relative;
        display: inline-block;
    }
    .bottom-container a:hover {
        color: #EAF6F6
    }
    #desc {
        color: #EAF6F6;
    }
}

@media only screen and (min-width:1000px) {
    .top-cloud {
        right: 400px;
        top: 40px;
    }
    .bottom-cloud {
        left: 250px;
        bottom: 300px;
    }
    .rectangle {
        width: 700px;
    }
    .contact-me h3 {
        font-size: 1.5rem;
    }
    .bottom-container {
        background-color: #66BFBF;
    }
    .footer-link {
        position: relative;
        display: inline-block;
    }
    #desc {
        color: #EAF6F6;
    }
    .bottom-container a:hover {
        color: #EAF6F6
    }
}